body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(0, 0%, 6%);
  color: hsl(0, 0%, 95%);
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 75%); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 100%);
}